.nav-extended{
    background-color: #ff5722;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: black; 
    color: whitesmoke;
}
nav.nav-extended ul {
    text-align: center;
}
nav.nav-extended ul li {
    display: inline;
    float: none;
}
nav.nav-extended ul li a {
    display: inline-block;
    text-align: center;
}
.wrapper{
    /* filter: blur(2px); */
    padding: 90px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../images/foods1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
}

p{
    color:white;
}

#autocomplete-input{
    width: 30%;
  }

li, ul, p, ul{

    color: white;
}

.recipe-views {
    width: 900px;
 }
 .recImg {
    width: 400px;
    /* clear: both; */
 }
 .recInfo {
    width: 400px;
 }
 .recIngreds {
    width: 400px;
 }
 h2 {
    font-style: italic;
    text-decoration: underline;
 }
 
 input.autocomplete {
    color:white;
}